<%= form_for(resource, as: resource_name,
             url: registration_path(resource_name),
             html: { class: 'container-fluid login_form auth_form' }) do |f| %>
  <div class="form-inner row">
    <div class="login_options row m0">
      <div class="options_header row m0">
        <%= link_to root_path do %><%= image_tag 'logo-new.png', style: 'height: 65px' %><% end %>
      </div>
    </div>
    <div class="form-header row m0">
      <h4>Sign in using your email address</h4>
    </div>
    <div class="form-body row m0">
      <%= f.email_field :email, autofocus: true, autocomplete: 'email',
                        placeholder: 'Your Email', class: 'form-control' %>

      <%= f.password_field :password, autocomplete: 'current-password',
                           placeholder: 'Your Password', class: 'form-control' %>

      <%= f.password_field :password_confirmation, autocomplete: 'new-password',
                           placeholder: 'Repeat Password', class: 'form-control' %>

      <p>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </p>

      <%= f.submit "Sign Up", class: 'btn btn-default form-control' %>
    </div>

    <div class="form-header row m0">
      <h6>Already have an account?</h6>
      <%= render "devise/shared/links" %>
    </div>

    <div class="form-footer row m0">
      <%= link_to root_path do %>
        <button title="Close" type="button" class="mfp-close"></button>
      <% end %>
    </div>
  </div>
<% end %>




<!--<h2>Sign up</h2>-->

<%#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%#= render "devise/shared/error_messages", resource: resource %>

<!--  <div class="field">-->
<!--    <%#= f.label :email %><br />-->
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
<!--  </div>-->

<!--  <div class="field">-->
    <%#= f.label :password %>
    <%# if @minimum_password_length %>
<!--    <em>(<%#= @minimum_password_length %> characters minimum)</em>-->
<!--    <%# end %><br />-->
    <%#= f.password_field :password, autocomplete: "new-password" %>
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :password_confirmation %><br />-->
    <%#= f.password_field :password_confirmation, autocomplete: "new-password" %>
<!--  </div>-->

<!--  <div class="actions">-->
    <%#= f.submit "Sign up" %>
<!--  </div>-->
<%# end %>

<%#= render "devise/shared/links" %>
