<section class="science_technology">
  <div class="container">
    <div class="row science_tec_row">
      <div class="col-sm-8">
        <div class="science_img">
          <%= image_tag 'media/large-video.jpg', class: 'big_img' %>
          <div class="video-content">
            <a href="">Methode Technology Hall Intro</a>
            <h5><a href="page-author.html">Emran Khan</a> / OCTOER 2017</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-4 small_img">
        <div class="science_img">
          <%= image_tag 'media/small-video.jpg' %>
          <div class="video-content">
            <a href="">Methode Technology Hall Intro</a>
            <h5><a href="page-author.html">Emran Khan</a> / OCTOER 2017</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-4 small_img">
        <div class="science_img">
          <%= image_tag 'media/small-video-2.jpg' %>
          <div class="video-content">
            <a href="">Methode Technology Hall Intro</a>
            <h5><a href="page-author.html">Emran Khan</a> / OCTOER 2017</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row author_interview author_interview_2">
  <div class="container">
    <div class="row title_row">
      <h3>Authors Interview</h3>
    </div>
    <div class="row">
      <div class="col-sm-7 feature_post">
        <div class="media feature_post_inner">
          <div class="media-left feature_img">
            <a href="">
              <%= image_tag 'media/large-video-2.jpg' %>
              <span class="duration">17:30</span>
            </a>
          </div>
          <div class="media-body feature_body">
            <a href="">
              <h4>Duis aute irure dolor in adipsicing Ut enim. Lorem ipsum dolor sit amet</h4>
            </a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <div class="row m0 meta_info posted">1 year ago</div>
            <div class="row m0 meta_info posted">by <a href="page-author.html">Masum Rana</a></div>
            <div class="views row m0"><a href="#"><%= image_tag 'icons/views.png' %>3,45,346</a></div>
          </div>
        </div>
      </div>
      <div class="col-sm-5 other_posts widget widget_popular_videos">
        <div class="media">
          <div class="media-left"><a href=""><%= image_tag 'popular/1.jpg' %><span class="duration">17:30</span></a></div>
          <div class="media-body">
            <a href="">
              <h5>Nulla auctor lacinia lorem nec ornare donec accumsan venenatis dolor tristique</h5>
            </a>
            <div class="row m0 meta_info views">34,000 views</div>
            <div class="row m0 meta_info posted">1 year ago</div>
          </div>
        </div>
        <div class="media">
          <div class="media-left"><a href=""><%= image_tag 'popular/2.jpg' %><span class="duration">17:30</span></a></div>
          <div class="media-body">
            <a href="">
              <h5>Vestibulum ante ipsum primis in faucibus pellentesque et ultrices posuere cubilia</h5>
            </a>
            <div class="row m0 meta_info views">34,000 views</div>
            <div class="row m0 meta_info posted">1 year ago</div>
          </div>
        </div>
        <div class="media">
          <div class="media-left"><a href=""><%= image_tag 'popular/3.jpg' %><span class="duration">17:30</span></a></div>
          <div class="media-body">
            <a href="">
              <h5>Aliquam sagittis placerat netus tincidunt lorem sodales sapien ipsum commodo</h5>
            </a>
            <div class="row m0 meta_info views">34,000 views</div>
            <div class="row m0 meta_info posted">1 year ago</div>
          </div>
        </div>
        <div class="media">
          <div class="media-left"><a href=""><%= image_tag 'popular/4.jpg' %><span class="duration">17:30</span></a></div>
          <div class="media-body">
            <a href="">
              <h5>Integer iaculis malesuada ipsum, non convallis massa consequat interdum</h5>
            </a>
            <div class="row m0 meta_info views">34,000 views</div>
            <div class="row m0 meta_info posted">1 year ago</div>
          </div>
        </div>
        <div class="media">
          <div class="media-left"><a href=""><%= image_tag 'popular/5.jpg' %><span class="duration">17:30</span></a></div>
          <div class="media-body">
            <a href="">
              <h5>Cras ut diam volutpat, tincidunt odio a, dapibus purus</h5>
            </a>
            <div class="row m0 meta_info views">34,000 views</div>
            <div class="row m0 meta_info posted">1 year ago</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row advertise_area">
  <div class="container">
    <div class="row advertise_row">
      <a href="#"><%= image_tag 'home-2-add.jpg' %></a>
    </div>
  </div>
</section> <!--Advertise Row-->

<section class="row author_interview">
  <div class="container">
    <div class="row title_row">
      <h3>Authors Interview</h3>
    </div>
    <div class="row">
      <div class="col-sm-6 feature_post">
        <div class="media feature_post_inner">
          <div class="media-left feature_img">
            <a href="">
              <%= image_tag 'media/feature_interview.jpg' %>
              <span class="duration">17:30</span>
            </a>
          </div>
          <div class="media-body feature_body">
            <a href="">
              <h4>Duis aute irure dolor in adipsicing Ut enim</h4>
            </a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <div class="row m0 meta_info posted">1 year ago</div>
            <div class="row m0 meta_info posted">by <a href="page-author.html">Masum Rana</a></div>
            <div class="views row m0"><a href="#"><%= image_tag 'icons/views.png' %>3,45,346</a></div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 other_posts widget widget_popular_videos">
        <div class="row">
          <div class="col-sm-6">
            <div class="media">
              <div class="media-left"><a href=""><%= image_tag 'popular/1.jpg' %><span class="duration">17:30</span></a></div>
              <div class="media-body">
                <a href="">
                  <h5>Lorem ipsum dolor si amet etur adipis</h5>
                </a>
                <div class="row m0 meta_info views">34,000 views</div>
                <div class="row m0 meta_info posted">1 year ago</div>
              </div>
            </div>
            <div class="media">
              <div class="media-left"><a href=""><%= image_tag 'popular/2.jpg' %><span class="duration">17:30</span></a></div>
              <div class="media-body">
                <a href="">
                  <h5>Lorem ipsum dolor si amet etur adipis</h5>
                </a>
                <div class="row m0 meta_info views">34,000 views</div>
                <div class="row m0 meta_info posted">1 year ago</div>
              </div>
            </div>
            <div class="media">
              <div class="media-left"><a href=""><%= image_tag 'popular/3.jpg' %><span class="duration">17:30</span></a></div>
              <div class="media-body">
                <a href="">
                  <h5>Lorem ipsum dolor si amet etur adipis</h5>
                </a>
                <div class="row m0 meta_info views">34,000 views</div>
                <div class="row m0 meta_info posted">1 year ago</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="media">
              <div class="media-left"><a href=""><%= image_tag 'popular/1.jpg' %><span class="duration">17:30</span></a></div>
              <div class="media-body">
                <a href="">
                  <h5>Lorem ipsum dolor si amet etur adipis</h5>
                </a>
                <div class="row m0 meta_info views">34,000 views</div>
                <div class="row m0 meta_info posted">1 year ago</div>
              </div>
            </div>
            <div class="media">
              <div class="media-left"><a href=""><%= image_tag 'popular/2.jpg' %><span class="duration">17:30</span></a></div>
              <div class="media-body">
                <a href="">
                  <h5>Lorem ipsum dolor si amet etur adipis</h5>
                </a>
                <div class="row m0 meta_info views">34,000 views</div>
                <div class="row m0 meta_info posted">1 year ago</div>
              </div>
            </div>
            <div class="media">
              <div class="media-left"><a href=""><%= image_tag 'popular/3.jpg' %><span class="duration">17:30</span></a></div>
              <div class="media-body">
                <a href="">
                  <h5>Lorem ipsum dolor si amet etur adipis</h5>
                </a>
                <div class="row m0 meta_info views">34,000 views</div>
                <div class="row m0 meta_info posted">1 year ago</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row">
  <ul class="nav nav-justified ribbon">
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
  </ul>
</section> <!--Ribbon-->