<section class="row recent_uploads">
  <div class="container">
    <div class="row title_row">
      <h3>recent uploads</h3>
    </div>
    <div class="row media-grid content_video_posts">
      <% @videos['response'].each do |video| %>
          <article class="col-sm-3 video_post postType3">
            <div class="inner row m0">
              <%= link_to video_path(video['_id']) do %>
                <div class="row screencast m0">
                  <%= image_tag video['thumbnails'][1]['url'], class: "cast img-responsive" %>
                  <div class="play_btn"></div>
                  <div class="media-length"><%= Time.at(video['duration']).utc.strftime("%M:%S") %></div>
                </div>
              <% end %>
              <div class="row m0 post_data" style="height: 175px">
                <div class="category">
                  <%= link_to video_path(video['_id']) do %>
                    <%= image_tag 'icons/category.png' %> <%= video['categories'].first['title'] %>
                  <% end %>
                </div>
                <div class="row m0">
                  <%= link_to video_path(video['_id']), class: 'post_title' do %>
                    <%= video['title'] %>
                  <% end %>
                </div>
                <div class="fleft date">Published: <%= video['published_at'].to_date.strftime("%e %B, %Y") %></div>
                <div class="fright views"><a><%= image_tag 'icons/views.png' %>3,45,346</a></div>
              </div>
            </div>
          </article>
      <% end %>
    </div>
  </div>
</section> <!--Recent Upload-->
